<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    </head>
    <body>

        <div class="columns is-mobile" style="margin-top: 3%;">
            <div class="column is-4 is-offset-1">
                <div class="buttons has-addons">
                    <a class="button is-link is-outlined" href="/menu">Back</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="notification"> 
                <div class="tile is-ancestor">
                    <div class="tile is-parent is-8">
                      <article class="tile is-child notification is-primary">
                        <div class="content">
                          <p class="title is-1" style="padding-left: 2em;">Results</p>
                          <div class="subtitle is-4" style="padding-left: 3em;">
                                <% data.forEach(function(movie) {     %>  
                                            <a href="/movies/<%=movie.id%>"><%= movie.name %></a> <br> <br>
                                <%  })  %>
                          </div>
                        </div>
                      </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-success">
                          <div class="content">
                            <p class="subtitle">Same Genre You Looked</p>
                            <div class="content">
                              <div class="field is-grouped is-grouped-multiline">
                                <% sameGener.forEach(function(movie) {     %>  
                                    <div class="control" style="margin-left: 2%;">
                                        <a href="/movies/<%=movie.id%>"><%= movie.name %></a>
                                    </div>
                                <%  })  %>
                            </div>
                            </div>
                          </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>